body {
  margin: 0;
  padding: 0;
}
html {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Estilos cabecera - Sección 1*/
header {
  background-color: rgb(30, 30, 30);
}
nav {
  width: 100%;
  padding: 10px 32px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}
nav ul li i {
  color: #ffffff;
  font-size: 14px;
  margin-right: 8px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #d698e6;
  transition: color 0.25s ease-in-out;
}

/* Selector de ID */

#titulo {
  text-align: center;
}

/* Sección 2 */

.grid {
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding-bottom: 32px;
}
.proyecto {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 5px 16px 0px rgb(92 92 92 / 18%);
}
.proyecto img {
  width: 100%;
  border-radius: 8px;
}

.proyecto:hover img {
  opacity: 0.5; /* Opacidad al hover */
}
.proyecto h2::first-letter {
  font-size: 24px;
  color: #d698e6;
}
.destacado {
  background: #e5e7ff;
  border-radius: 10px;
}
.proyecto:nth-child(3n) {
  background: #dddddd;
}

/* Sección 3 */

.formulario {
  padding-block: 100px;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
textarea {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #afafaf;
  padding: 8px 4px;
}
textarea:focus-visible {
  outline: 1px solid #944ca7 !important;
  border: none !important;
}
input {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 24px;
  border: 1px solid #afafaf;
  padding: 4px;
}
input:focus-visible {
  outline: 1px solid #944ca7 !important;
  border: none !important;
}
fieldset {
  border: 0px;
}
button {
  background: #d698e6;
  color: #fff;
  border: 0px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
}
button:hover {
  background: #944ca7;
  transition:  0.25s ease-in-out;
}
label {
  margin-bottom: 4px;
  font-size: 1rem;
}
:placeholder-shown {
  padding-left: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.texto-formulario {
  text-align: center;
  padding-bottom: 40px;
}
.texto-formulario h2 {
  margin: 0px;
  padding-bottom: 4px;
}
.texto-formulario p {
  color: #8d8d8d;
  margin: 0px;
}
button

/* Sección 4 */

.oculto {
  display: none !important;
}
footer {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  transition: 0.25s ease-in-out;
}
.top {
  width: 48px;
  height: 48px;
  background: #d698e6;
  border-radius: 50%;
  position: absolute;
  right: 32px;
}
.top i {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

